.product-tile {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 10px;

  &-image {
    .image-container {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  &-header {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 12px;
    position: relative;
    justify-items: center;
    align-items: center;
  }

  h1 {
    font-size: 22px;
    text-transform: uppercase;
  }

  .product-price {
    font-size: 22px;
  }

  .whislist-link {
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 22px;
  }
}
