.footer {
  background: none;

  @include media-breakpoint-up('lg') {
    background: $gray-secondary;
    font-family: 'Playfair Display';
  }

  &-inner {
    display: grid;
    grid-template-columns: 1fr;

    @include media-breakpoint-up('lg') {
      display: grid;
      grid-template-columns: 0.75fr 0.25fr;
      font-family: 'Playfair Display';
      max-width: 1140px;
      margin: 0 auto;
    }
  }

  h1 {
    font-family: 'Playfair', serif;
    font-size: 26px;
    margin: 0;
  }

  &-connect {
    background: $gray-secondary;
    width: 100%;
    &-inner {
      font-family: 'Roboto', sans-serif;
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 30px;

      @include media-breakpoint-up('lg') {
        justify-items: start;
        max-width: 1140px;
        margin: 0 auto;
      }
    }
  }

  &-newsletter {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 30px;

    @include media-breakpoint-up('lg') {
      justify-content: start;
      justify-items: start;
    }

    &-header {
      text-align: center;

      p {
        margin: 0;
      }
    }

    .newsletter {
      display: grid;
      justify-items: center;
      row-gap: 10px;

      @include media-breakpoint-up('lg') {
        margin-top: 24px;
        justify-items: start;
        font-family: 'Playfair Display';
      }
    }

    .terms {
      display: inline-flex;
      gap: 5px;
      justify-items: center;
      font-size: 12px;
    }

    .button-submit {
      border: 1px solid $brand-primary;
      text-transform: uppercase;
      font-size: 12px;
      padding: 6px 12px;
      font-family: 'Roboto';
    }
  }

  &-social {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    row-gap: 30px;

    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 20px;

      li {
        font-size: 22px;
      }
    }
  }

  &-nav {
    color: $brand-secondary;
    background: $gray-primary;
    width: 100%;

    @include media-breakpoint-up('lg') {
      background: $gray-secondary;
      color: $brand-primary;
      order: -1;
      font-family: 'Playfair Display';
      max-width: 1140px;
      margin: 0 auto;
    }

    &-inner {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.5fr 2fr 0.5fr;
      grid-auto-flow: column;
      row-gap: 30px;
      align-items: center;
      justify-items: center;
      font-family: 'Roboto', sans-serif;

      @include media-breakpoint-up('lg') {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: column;
        grid-template-rows: 1fr;
        justify-items: start;
        align-items: start;
        font-family: 'Playfair Display';
      }

      .nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        text-transform: lowercase;
        text-align: center;

        @include media-breakpoint-up('lg') {
          text-align: left;
          width: 100%;
        }

        & nav:first-child {
          border-right: 1px solid white;
          padding-right: 15px;

          @include media-breakpoint-up('lg') {
            border: none;
            padding: 0;
          }
        }

        & nav:last-child {
          padding-left: 15px;
          @include media-breakpoint-up('lg') {
            padding: 0;
            order: -1;
          }
        }
      }

      ul {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
        justify-items: center;

        @include media-breakpoint-up('lg') {
          justify-items: start;
        }
      }

      .terms {
        text-decoration: underline;
        font-weight: 300;
        font-size: 14px;
        font-style: italic;
      }

      &-contact {
        @include media-breakpoint-up('lg') {
          order: -1;
        }
      }
    }
  }
}
