// fonts
@import './styles/fonts';

// relative path to node_modules via sass
@import './../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import './../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import './../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import './../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';

// relative path to bootstrap
@import './../../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import './../../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import './../../node_modules/bootstrap/scss/bootstrap-utilities.scss';

//variables - colors
@import './styles/variables';

// ui
@import './styles/ui/index';

// common site components
@import './styles/common/index';

// catalog components
@import './styles/catalog/index';

body {
  font-size: 16px;
  font-family: 'Playfair Display', sans-serif;
  color: $brand-primary;
}

a,
button,
input[type='button'] {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}
